<h1>Hottest Games</h1>
<ul>
{{#each Game}}
{{#if Priority = true}}
<li><a href="/GamesView/{{game.Gid}}/GamesDetails">{{title}}</a> - {{releaseDate}} - {{Publishers}}</li>
{{else}}
   <p>Weird, there are no Games</p>
{{/if}}
{{/each}}
</ul>