<!-- Affiche toutes les informations relative au jeu selectioné -->
<h2>Titre : {{jeu.titre}}</h2>
<p>Description : {{jeu.description}}</p>
<p>Date de sortie : {{jeu.releaseDate}}</p>
<p>Genre : <a href="/Genres/{{jeu.genre.id}}/jdg"> {{jeu.genre.nom}}</a></p>


{{#if jeu.editeur}}
        <p>Éditeur : <a href="/Editeurs/{{jeu.editeur.id}}/jde">{{jeu.editeur.nom}}</a></p> 
{{else}}
        <p>Éditeur : Non renseigné </p>
{{/if}}



<!-- Boutton suprimer -->
<form action="/Jeux/{{jeu.id}}/delete?_method=DELETE" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer ce jeu ?');">
    <button type="submit" style="color: white; background-color: red; padding: 10px 20px; border: none; border-radius: 5px;">Supprimer ce jeu</button>
</form>

    {{#if jeu.enAvant}}
    <form action="/Jeux/{{jeu.id}}/notEnAvant" method="POST">
    <button type="submit" style="color: white; background-color: green; padding: 10px 20px; border: none; border-radius: 5px;">
         Retirer de la mise en avant
    </button>
</form>
       
    {{else}}
    
<form action="/Jeux/{{jeu.id}}/enAvant" method="POST">
    <button type="submit" style="color: white; background-color: green; padding: 10px 20px; border: none; border-radius: 5px;">
        Mettre en avant
    </button>
</form>
    {{/if}}


<p><a href="/Jeux/{{jeu.id}}/edit">Modifier le jeu</a></p>

<p><a href="/Jeux">Retour à la liste des jeux</a></p>
