{{#if editeurs}}
    <h1>Liste des editeurs</h1>
{{/if}}

{{#if jeu}}
    <h1>Liste des jeux de l'editeur</h1>
{{/if}}


<ul>
    {{#each editeurs}} 
    
        <li>
            <a href="/Editeurs/{{id}}/jde">{{nom}}</a>
            <form action="/Editeurs/{{id}}/delete?_method=DELETE" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer cet éditeur ?');">
                <button type="submit" style="color: white; background-color: red; padding: 5px 10px; border: none; border-radius: 5px;">Supprimer l'éditeur</button>
            </form>
            <p><a href="/Editeurs/{{id}}/edit">Modifier un éditeur</a></p>
        </li>
    {{/each}}

    {{#each jeu}}
        <li>
            <a href="/Jeux/{{id}}/details">{{titre}}</a>
            
        </li>
    {{/each}}
</ul>


<p><a href="/Editeurs/Ajouter">Ajouter un éditeur</a></p>
<p><a href="../">RETOUR à la page precedente</a> </p>