{{#if Publishers}}
    <h1>publisher list</h1>
{{/if}}


{{#if Game}}
    <h1>Games from this publisher</h1>
{{/if}}


<ul>
    {{#each Publishers}} 
        <li>
            <a href="/Publishers/{{Pid}}/gameByGenre">{{name}}</a>
            <form action="/Publishers/{{Pid}}/delete?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure ?');">
                <button type="submit">Delete Publisher</button>
            </form>
            <p><a href="/Publishers/{{Pid}}/edit">Edit Publisher</a></p>
        </li>
    {{/each}}

    {{#each game}}
        <li>
            <a href="/GamesView/{{Gid}}/GamesDetails">{{title}}</a>
        </li>
    {{/each}}
</ul>


<p><a href="/Publishers/CreatePublisher">Add a publisher</a></p>
<p><a href="../">Back</a> </p>